html, body {
  font-family: -apple-system, sans-serif;
  color: white;
  overflow: hidden;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.searchBar {
  font-size: 30px;
  font-weight: lighter;
  background: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
  outline: none;
  width: 70%;
  transition: all 1s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.searchBar:hover {
  width: 85%;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.7);

}

.searchBar:focus {
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
}

@media (max-width: 900px) {
  .searchBar {
    font-size: 20px;
    padding: 8px;
  }

  .wrapper h1 {
    font-size: 50px;
  }

  .wrapper h2 {
    font-size: 40px;
  }

  .wrapper h3 {
    font-size: 20px;
  }

  .wrapper p {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .searchBar {
    font-size: 15px;
    padding: 5px;
  }

  .wrapper h1 {
    font-size: 30px;
  }

  .wrapper h2 {
    font-size: 20px;
  }

  .wrapper h3 {
    font-size: 15px;
  }

  .wrapper p {
    font-size: 20px;
  }
}

.toolbar {
  display: flex;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin-top: 2.5rem;
  margin-right: 1rem;
  margin-left: -7rem;

}

.toolbar label {
  margin: 10px 0;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-section-label {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  transition: all 1s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  flex-direction: row;
}

.toolbar-title-label-size {
  font-size: 30px;
}

.toolbar-section-label-size {
  font-size: 25px;
}

.toolbar-section-subtitle-size {
  font-size: 20px;
}

.toolbar-section-label:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
  scale: 1.05;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.button:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.weather-icon {
  transition: all 1s ease;
  border-radius: 100px;
}

.weather-icon:hover {
  transform: scale(2);
}